@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, nav, footer {
  @apply max-w-6xl mx-auto my-12;
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  font-family: 'Cedarville Cursive', cursive;
}